.container {
  --header-height: 48px;
  height: 100%;
}

.header {
  align-items: center;
  background: var(--color-surface-dark);
  display: flex;
  height: var(--header-height);
  padding: 0 16px;
}

.listContainer {
  height: calc(100% - var(--header-height));
  overflow: hidden auto;
}
