.container {
  height: calc(100% - 16px);
  padding-right: 16px;
}

.header {
  align-items: center;
  background: var(--color-surface-dark);
  display: flex;
  height: 48px;
  padding: 0 16px;
}

.listContainer {
  height: calc(100% - 48px);
}
