.container {
  min-height: 100dvh;
}

.headerContainer {
  inset: 0 0 auto 0;
  position: fixed;
  z-index: 1;
}

.aside {
  inset: var(--height-header) auto 0 0;
  position: fixed;
}

.main {
  height: calc(100% - var(--height-header) - 16px);
  inset: var(--height-header) 16px 0 var(--width-sidebar);
  overflow: hidden;
  position: fixed;
}
