.container {
  min-height: 100dvh;
}

.headerContainer {
  inset: 0 0 auto 0;
  position: fixed;
  z-index: 1;
}

.aside {
  inset: var(--height-header) auto 0 0;
  position: fixed;
}

.main {
  inset: var(--height-header) 0 0 var(--width-sidebar);
  position: fixed;
}
