.form {
  container-type: inline-size;
}

.inner {
  display: grid;
  gap: 20px 24px;

  @container (width >= 720px) {
    grid-template: auto / 1fr 296px;
  }
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  display: flex;
  font-size: 1.2rem;
  font-weight: 900;
  gap: 4px;
}

.required {
  color: red;
  font-size: 1rem;
}

.input {
  border: 1px solid #37393b;
  border-radius: 4px;
  color: inherit;
  padding: 8px 12px;
  background: #1e1f20;
}

.optionButton {
  font-size: 1rem;
  padding: 8px 0;
  text-align: start;
}
