.pbiItem {
  background-color: var(--color-bg-dark);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
  cursor: grab;
  height: 28px;
  line-height: 28px;
  transition: box-shadow 0.2s;
}

.dragging {
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.15);
}
