.container {
  align-items: center;
  background: #131314;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.1);
  display: flex;
  height: 36px;
  line-height: 36px;
  transition: box-shadow 0.2s;
}

.iconContainer {
  cursor: grab;
  padding: 0 8px;
}

.link {
  flex-grow: 1;
  text-decoration: none;
}

.dragging {
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.15);
}
