.container {
  height: 100%;
  position: relative;
}

.inner {
  border-radius: 16px 0 0 0;
  height: 100%;
  overflow: hidden;
}

.resizableBoxContainer {
  inset: 0 0 0 auto;
  position: absolute;
  z-index: 999;
}

.resizableBox {
  background: #1b1b1b;
  height: 100%;
  padding: 0 10px 10px 10px;
  position: relative;
}

.handle {
  align-items: center;
  cursor: col-resize;
  display: flex;
  inset: 0 auto 0 0;
  justify-content: center;
  position: absolute;
  width: 10px;
}

.icon {
  max-width: 16px;
  position: absolute;
}

.detailContainer {
  border-radius: 16px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
